@media (max-width: 1200px) {
    .meetWizer_inner .center_img {
        max-width: 85%;
        margin: 0 auto;
    }
    .meetWizer_inner .bottom_img {
        max-width: 80%;
    }
    .meetWizer_inner .top_img {
        max-width: 79%;
    }
    .meetWizer_inner h3.top_text {
        left: 100px;
    }
    .hero .hero_left {
    max-width: 415px;
}
    .side-bar {
    margin-top: 55px;
}
.hero .hero_left h2 {
    font-size: 32px;
}
    .side-bar nav li a,.hero .hero_left .btns a.square_btn,.hero .hero_left .btns a.round_btn {
    font-size: 17px;
}
  .meetWizer_inner h3.top_text,.meetWizer_inner h3.bottom_text {
    font-size: 20px;
    max-width: 120px;
}
.main-content section {
    height: 800px;
    min-height: auto;
}
.hero .hero_left {
    height: 640px;
}
}

@media (max-width: 991px) {
    .nav-expanded {
        height: 100vh;
        overflow: hidden;
    }

    nav.navbar.navbar-expand-lg {
        background: #fff;
    }

    .nav-expanded nav.navbar.navbar-expand-lg {
        background: rgb(245 246 250);
        z-index: 9;
    }

    .navbar-collapse {
        position: absolute;
        top: 100%;
        background: rgb(245 246 250);
        width: 100%;
        z-index: 999;
        left: 0px;
        height: 100vh;
        overflow: hidden;
        transition: unset !important;
    }

    nav.navbar.navbar-expand-lg ul.navbar-nav {
        background: #fff;
        border-radius: 12px;
        padding: 15px 15px;

        margin: 0 auto;
    }

    nav.navbar-expand-lg .navbar-nav .nav-link {
        font-size: 18px;
        margin-left: 0;
        padding: 9px 10px;
        border-radius: 30px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    button.navbar-toggler[aria-expanded="true"],
    button.navbar-toggler[aria-expanded="false"] {
        background: #ffcd00;
        width: 32px;
        height: 32px;
        padding: 0;
        border-radius: 6px;
        border: 2px solid #fff;
        outline: 2px solid #ffcd00;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button.navbar-toggler[aria-expanded="false"] {
        background: #dee1ed;
        border: 0px solid #fff;
        outline: 0px solid #ffcd00;
    }

    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23FFFAE5' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        width: 24px;
        height: 24px;
    }

    button.navbar-toggler[aria-expanded="false"] .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23484D61' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        width: 24px;
        height: 24px;
    }
    .hero .hero_left {
        height: 610px;
    }
    .hero .hero_left h2 {
        font-size: 26px;
    }
    .hero .hero_left .btns a.square_btn {
        padding: 14px 23px;
        margin-right: 20px;
    }
    .hero .hero_left .btns {
        margin-top: 20px;
    }
    .main-content section {
        height: 600px;
    }
    .meetWizer_inner .center_img {
        max-width: 85%;
    }
    .meetWizer_inner .bottom_img {
        max-width: 78%;
    }
    .meetWizer_inner .top_img {
        max-width: 70%;
    }
    .meetWizer_inner h3.top_text {
        left: 52px;
        top: 25px;
    }
    .meetWizer_inner h3.bottom_text {
        bottom: 30px;
        right: 18px;
    }
    .side-bar nav li a, .hero .hero_left .btns a.square_btn, .hero .hero_left .btns a.round_btn {
        font-size: 16px;
    }
    .meetWizer_inner h3.top_text,.meetWizer_inner h3.bottom_text {
        font-size: 18px;
        max-width: 110px;
    }
    .meetWizer_inner .center_img {
        padding-top: 65px;
        padding-bottom: 40px;
    }
}

@media (max-width:767px) {
    nav a.navbar-brand img {
        max-width: 80px;
    }
}

@media (min-width:576px) and (max-width:991px) {
    nav.navbar.navbar-expand-lg ul.navbar-nav {
        max-width: 510px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    nav.navbar.navbar-expand-lg ul.navbar-nav {
        max-width: 690px;
    }
}

@media (max-width:767px) {
    nav.navbar.navbar-expand-lg ul.navbar-nav {
        max-width: calc(100% - 60px);
    }
    .container{
        padding: 0 30px !important;
    }
    .hero {
        margin-top: 0;
        height: auto;
        min-height: auto;
    }
    .hero .hero_left h2 span {
        font-weight: 800;
    }
    .hero .hero_left .top_heading img {
        top: -5px;
        right: -16px;
        width: 24px;
    }
     .hero .hero_left .btns a.round_btn {
        font-size: 15px;
    }
    .side-bar nav li a, .hero .hero_left .btns a.square_btn {
        font-size: 18px;
    }
    .shape{
        display: none;
    }
    .mobile_fix_btn {
        position: fixed;
        bottom: 80px;
        left: 0;
        padding: 25px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        z-index: 999;
    }
    .hero .hero_left {
        height: auto;
    }
    .hero .hero_left .btns a.square_btn {
        width: 150px;
        padding: 10px 23px;
        text-align: center;
        margin-right: 0;
        display: inline-block;
    }
    .meetWizer_inner h3.top_text, .meetWizer_inner h3.bottom_text {
        font-size: 16px;
    }
    .main-content {
        overflow: visible;
        margin-top: 25px;
    }
    .meetWizer_inner .top_img {
        max-width: 57%;
    }
    .meetWizer_inner .bottom_img {
        max-width: 75%;
    }
    .meetWizer_inner .center_img {
        padding-top: 50px;
        max-width: 75%;
        padding-bottom: 25px;
    }
    .meetWizer_inner h3.top_text {
        top: 18px;
    }
    .meetWizer_inner h3.bottom_text {
        bottom: 12px;
    }
    .main-content section {
        height: 400px;
    }
    .side-bar {
        margin-top: 0;
        position: fixed;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        padding: 0;
    }
    nav.navigation {
        width: 10px;
    }
    .side-bar nav li a {
        text-indent: -999px;
        width: 4px;
        height: 10px;
        background: #DEE1ED;
        margin: 6px 0;
    }
    .side-bar nav li a.active {
        background: #FF8400;
    }
}

/* @media (min-height:767px) {
nav.navigation{
    display:none;
}
} */