@font-face {
    font-family: steves-icon;
    src: url(/steves-icon-1.0.0.eot);
    src: url(/steves-icon-1.0.0.eot?#iefix) format("eot"), url(/steves-icon-1.0.0.woff2) format("woff2"), url(/steves-icon-1.0.0.woff) format("woff"), url(/steves-icon-1.0.0.ttf) format("truetype"), url(/steves-icon-1.0.0.svg#steves-icon-1.0.0) format("svg")
}

[class*=steves-icon-] {
    font-family: steves-icon;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    vertical-align: middle
}

.steves-icon-access-control:before {
    content: ""
}

.steves-icon-angle-down:before {
    content: ""
}

.steves-icon-angle-left:before {
    content: ""
}

.steves-icon-angle-right:before {
    content: ""
}

.steves-icon-angle-up:before {
    content: ""
}

.steves-icon-arrow-down-left:before {
    content: ""
}

.steves-icon-arrow-down-right:before {
    content: ""
}

.steves-icon-calling:before {
    content: ""
}

.steves-icon-chevron-left:before {
    content: ""
}

.steves-icon-chevron-right:before {
    content: ""
}

.steves-icon-clock:before {
    content: ""
}

.steves-icon-completed-task:before {
    content: ""
}

.steves-icon-composition1:before {
    content: ""
}

.steves-icon-creativity:before {
    content: ""
}

.steves-icon-cube:before {
    content: ""
}

.steves-icon-customer-review:before {
    content: ""
}

.steves-icon-drag-and-drop:before {
    content: ""
}

.steves-icon-eternity:before {
    content: ""
}

.steves-icon-focus1:before {
    content: ""
}

.steves-icon-image-editing:before {
    content: ""
}

.steves-icon-layers:before {
    content: ""
}

.steves-icon-location:before {
    content: ""
}

.steves-icon-long-arrow-left:before {
    content: ""
}

.steves-icon-long-arrow-right:before {
    content: ""
}

.steves-icon-management:before {
    content: ""
}

.steves-icon-menu:before {
    content: ""
}

.steves-icon-network:before {
    content: ""
}

.steves-icon-network1:before {
    content: ""
}

.steves-icon-paper-plane:before {
    content: ""
}

.steves-icon-play:before {
    content: ""
}

.steves-icon-product-design:before {
    content: ""
}

.steves-icon-prototype:before {
    content: ""
}

.steves-icon-quote:before {
    content: ""
}

.steves-icon-right-arrow-circle:before {
    content: ""
}

.steves-icon-search1:before {
    content: ""
}

.steves-icon-shopping-cart:before {
    content: ""
}

.steves-icon-smartphone:before {
    content: ""
}

.steves-icon-target-audience:before {
    content: ""
}

.steves-icon-technique:before {
    content: ""
}

.steves-icon-user:before {
    content: ""
}

.steves-icon-vision:before {
    content: ""
}

.steves-icon-web-design:before {
    content: ""
}

.steves-icon-web-setting:before {
    content: ""
}

.steves-icon-360:before {
    content: ""
}

.steves-icon-bars:before {
    content: ""
}

.steves-icon-cart-empty:before {
    content: ""
}

.steves-icon-check-square:before {
    content: ""
}

.steves-icon-circle:before {
    content: ""
}

.steves-icon-cloud-download-alt:before {
    content: ""
}

.steves-icon-comment:before {
    content: ""
}

.steves-icon-comments:before {
    content: ""
}

.steves-icon-contact:before {
    content: ""
}

.steves-icon-credit-card:before {
    content: ""
}

.steves-icon-dot-circle:before {
    content: ""
}

.steves-icon-edit:before {
    content: ""
}

.steves-icon-envelope:before {
    content: ""
}

.steves-icon-expand-alt:before {
    content: ""
}

.steves-icon-external-link-alt:before {
    content: ""
}

.steves-icon-file-alt:before {
    content: ""
}

.steves-icon-file-archive:before {
    content: ""
}

.steves-icon-folder-open:before {
    content: ""
}

.steves-icon-folder:before {
    content: ""
}

.steves-icon-frown:before {
    content: ""
}

.steves-icon-gift:before {
    content: ""
}

.steves-icon-grid:before {
    content: ""
}

.steves-icon-grip-horizontal:before {
    content: ""
}

.steves-icon-heart-fill:before {
    content: ""
}

.steves-icon-history:before {
    content: ""
}

.steves-icon-home:before {
    content: ""
}

.steves-icon-info-circle:before {
    content: ""
}

.steves-icon-instagram:before {
    content: ""
}

.steves-icon-level-up-alt:before {
    content: ""
}

.steves-icon-list:before {
    content: ""
}

.steves-icon-map-marker-check:before {
    content: ""
}

.steves-icon-meh:before {
    content: ""
}

.steves-icon-minus-circle:before {
    content: ""
}

.steves-icon-minus:before {
    content: ""
}

.steves-icon-mobile-android-alt:before {
    content: ""
}

.steves-icon-money-bill:before {
    content: ""
}

.steves-icon-pencil-alt:before {
    content: ""
}

.steves-icon-plus:before {
    content: ""
}

.steves-icon-random:before {
    content: ""
}

.steves-icon-reply-all:before {
    content: ""
}

.steves-icon-reply:before {
    content: ""
}

.steves-icon-search:before {
    content: ""
}

.steves-icon-shield-check:before {
    content: ""
}

.steves-icon-shopping-basket:before {
    content: ""
}

.steves-icon-sign-out-alt:before {
    content: ""
}

.steves-icon-smile:before {
    content: ""
}

.steves-icon-spinner:before {
    content: ""
}

.steves-icon-square:before {
    content: ""
}

.steves-icon-star:before {
    content: ""
}

.steves-icon-sync:before {
    content: ""
}

.steves-icon-tachometer-alt:before {
    content: ""
}

.steves-icon-thumbtack:before {
    content: ""
}

.steves-icon-times-circle:before {
    content: ""
}

.steves-icon-times-square:before {
    content: ""
}

.steves-icon-times:before {
    content: ""
}

.steves-icon-trophy-alt:before {
    content: ""
}

.steves-icon-adobe:before {
    content: ""
}

.steves-icon-amazon:before {
    content: ""
}

.steves-icon-android:before {
    content: ""
}

.steves-icon-angular:before {
    content: ""
}

.steves-icon-apper:before {
    content: ""
}

.steves-icon-apple:before {
    content: ""
}

.steves-icon-atlassian:before {
    content: ""
}

.steves-icon-behance:before {
    content: ""
}

.steves-icon-bitbucket:before {
    content: ""
}

.steves-icon-bitcoin:before {
    content: ""
}

.steves-icon-bity:before {
    content: ""
}

.steves-icon-bluetooth:before {
    content: ""
}

.steves-icon-btc:before {
    content: ""
}

.steves-icon-centos:before {
    content: ""
}

.steves-icon-chrome:before {
    content: ""
}

.steves-icon-codepen:before {
    content: ""
}

.steves-icon-cpanel:before {
    content: ""
}

.steves-icon-discord:before {
    content: ""
}

.steves-icon-dochub:before {
    content: ""
}

.steves-icon-docker:before {
    content: ""
}

.steves-icon-dribbble:before {
    content: ""
}

.steves-icon-dropbox:before {
    content: ""
}

.steves-icon-drupal:before {
    content: ""
}

.steves-icon-ebay:before {
    content: ""
}

.steves-icon-facebook-f:before {
    content: ""
}

.steves-icon-facebook:before {
    content: ""
}

.steves-icon-figma:before {
    content: ""
}

.steves-icon-firefox:before {
    content: ""
}

.steves-icon-google-plus:before {
    content: ""
}

.steves-icon-google:before {
    content: ""
}

.steves-icon-grunt:before {
    content: ""
}

.steves-icon-gulp:before {
    content: ""
}

.steves-icon-html5:before {
    content: ""
}

.steves-icon-joomla:before {
    content: ""
}

.steves-icon-link-brand:before {
    content: ""
}

.steves-icon-linkedin:before {
    content: ""
}

.steves-icon-mailchimp:before {
    content: ""
}

.steves-icon-opencart:before {
    content: ""
}

.steves-icon-paypal:before {
    content: ""
}

.steves-icon-pinterest-p:before {
    content: ""
}

.steves-icon-reddit:before {
    content: ""
}

.steves-icon-skype:before {
    content: ""
}

.steves-icon-slack:before {
    content: ""
}

.steves-icon-snapchat:before {
    content: ""
}

.steves-icon-spotify:before {
    content: ""
}

.steves-icon-trello:before {
    content: ""
}

.steves-icon-twitter:before {
    content: ""
}

.steves-icon-vimeo:before {
    content: ""
}

.steves-icon-whatsapp:before {
    content: ""
}

.steves-icon-wordpress:before {
    content: ""
}

.steves-icon-yoast:before {
    content: ""
}