@media (max-width: 1200px) and (min-width:991px) {
    .meetWizer_inner .center_img {
        max-width: 405px;
        margin: 0 auto;
    }

    .meetWizer_inner .bottom_img img {
        max-width: 325px;
    }

    .meetWizer_inner .top_img img {
        max-width: 270px;
    }

    .meetWizer_inner h3.top_text {
        left: 135px;
        top: 34px;
    }

    .meetWizer_inner h3.bottom_text {
        bottom: 30px;
    }

    .hero .hero_left {
        max-width: 415px;
    }

    .side-bar {
        margin-top: 55px;
    }

    .hero .hero_left h2 {
        font-size: 32px;
    }

    .side-bar nav li a,
    .hero .hero_left .btns a.square_btn,
    .hero .hero_left .btns a.round_btn {
        font-size: 17px;
    }

    .meetWizer_inner h3.top_text,
    .meetWizer_inner h3.bottom_text {
        font-size: 20px;
        max-width: 120px;
    }

    .main-content section {
        height: auto;
        min-height: auto;
        margin-bottom: 200px;
    }

    .main-content section:last-child {
        margin-bottom: 0px;
    }

    .hero .hero_left {
        height: 640px;
    }

    .heading_row h2 {
        font-size: 19px;
    }

    .WhatWeDo_row1 .WhatWeDo_column1 h3,
    .WhatWeDo_row2 .WhatWeDo_column2 h3,
    .WhatWeDo_row3 .WhatWeDo_column2 h3,
    .WhatWeDo_row1 .WhatWeDo_column2 h3 {
        font-size: 21px;
    }

    .WhatWeDo_row1 .WhatWeDo_column2 {
        padding: 26px 24px;
    }

    .WhatWeDo_row1 .WhatWeDo_column1 h3 {
        margin-right: 5px;
    }

    .WhatWeDo_row1 .WhatWeDo_column2 h2 {
        font-size: 38px;
    }

    .emoji_hand {
        width: 77px !important;
        top: -28px;
    }

    .emoji_hand.emoji_hand1 {
        top: -13px;
    }

    .vertical-slider2 {
        height: 565px;
    }
    .fancybox-content {
        max-width: 830px !important;
    }

}

@media (max-width: 991px) {
    

    .nav-expanded {
        height: 100vh;
        overflow: hidden;
    }

    nav.navbar.navbar-expand-lg {
        background: #fff;
    }

    .nav-expanded nav.navbar.navbar-expand-lg {
        background: rgb(245 246 250);
        z-index: 9;
    }

    .navbar-collapse {
        position: absolute;
        top: 100%;
        background: rgb(245 246 250);
        width: 100%;
        z-index: 999;
        left: 0px;
        height: 100vh;
        overflow: hidden;
        padding-top: 30px;
        transition: unset !important;
    }

    nav.navbar.navbar-expand-lg ul.navbar-nav {
        background: #fff;
        border-radius: 12px;
        padding: 15px 15px;

        margin: 0 auto;
    }

    nav.navbar-expand-lg .navbar-nav .nav-link {
        font-size: 18px;
        margin-left: 0;
        padding: 9px 10px;
        border-radius: 30px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    button.navbar-toggler[aria-expanded="true"],
    button.navbar-toggler[aria-expanded="false"] {
        background: #ffcd00;
        width: 32px;
        height: 32px;
        padding: 0;
        border-radius: 6px;
        border: 2px solid #fff;
        outline: 2px solid #ffcd00;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button.navbar-toggler[aria-expanded="false"] {
        background: #dee1ed;
        border: 0px solid #fff;
        outline: 0px solid #ffcd00;
    }

    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23FFFAE5' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        width: 24px;
        height: 24px;
    }

    button.navbar-toggler[aria-expanded="false"] .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23484D61' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        width: 24px;
        height: 24px;
    }

    .hero .hero_left {
        height: auto;
        position: relative;
        max-width: 360px;
    }

    .hero .hero_left h2 {
        font-size: 26px;
    }
    .hero .hero_left .top_heading img {
        top: 0px;
        right: -14px;
        width: 17px;
    }

    .hero .hero_left .btns a.square_btn {
        padding: 14px 23px;
        margin-right: 20px;
    }

    .hero .hero_left .btns {
        margin-top: 20px;
    }
    .arrow_down {
        display: none;
    }
    .side-bar {
        margin-top: 0;
        position: fixed;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        padding: 0;
    }

    nav.navigation {
        width: 10px;
    }

    .side-bar nav li a {
        text-indent: -999px;
        width: 4px;
        border-radius: 17px;
        height: 10px;
        background: #DEE1ED;
        margin: 6px 0;
    }

    .side-bar nav li a.active {
        background: #FF8400;
    }
    .shape {
        display: none;
    }
    .main-content section {
        margin-bottom: 150px;
        height: auto;
        min-height: auto;
    }

    .main-content {
        max-width: 520px;
        margin: 0 auto;
        overflow: visible;
        margin-top: 25px;
    }
    

    .main-content section:last-child {
        margin-bottom: 0px;
        padding-bottom: 12px;
        min-height: 100% !important;
    }
    .fancybox-content {
        max-width: 600px !important;
    }
    .nav-expanded .main-content {
        display: none;
    }

}

@media (max-width:767px) {
    nav a.navbar-brand img {
        max-width: 80px;
    }
}

@media (min-width:576px) and (max-width:991px) {
    nav.navbar.navbar-expand-lg ul.navbar-nav {
        max-width: 510px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    nav.navbar.navbar-expand-lg ul.navbar-nav {
        max-width: 690px;
    }
}

@media (max-width:767px) {
    nav.navbar.navbar-expand-lg ul.navbar-nav {
        max-width: calc(100% - 60px);
    }

    .container {
        padding: 0 30px !important;
    }
    

    .hero .hero_left h2 span {
        font-weight: 800;
    }

    .hero .hero_left .top_heading img {
        top: -5px;
        right: -16px;
        width: 24px;
    }

    .hero .hero_left .btns a.round_btn {
        font-size: 15px;
    }

    .side-bar nav li a,
    .hero .hero_left .btns a.square_btn {
        font-size: 18px;
    }


    .mobile_fix_btn {
        position: fixed;
        bottom: 80px;
        left: 0;
        padding: 25px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        z-index: 999;
    }

   

    .meetWizer_inner h3.top_text,
    .meetWizer_inner h3.bottom_text {
        font-size: 16px;
    }

    

    .meetWizer_inner .top_img {
        max-width: 57%;
    }

    .meetWizer_inner .bottom_img {
        max-width: 75%;
    }

    .meetWizer_inner .center_img {
        padding-top: 50px;
        max-width: 75%;
        padding-bottom: 25px;
    }

    .meetWizer_inner h3.top_text {
        top: 18px;
    }

    .meetWizer_inner h3.bottom_text {
        bottom: 12px;
    }

    .main-content section {
        height: 400px;
    }

    
}

@media (min-height:870px) {
    .arrow_down_btn {
        bottom: -86px;
    }
}
@media (max-height:800px) {
    .get_wizer_box h3 {
        font-size: 33px;
    }
    .get_wizer_box .logo_wrapper {
        width: 130px;
        height: 130px;
        margin-bottom: 20px;
    }
    .get_wizer_box .logo_wrapper img {
        width: 85px;
    }
    .get_wizer_box p {
        margin-bottom: 20px;
    }
    .get_wizer_bg {
        margin-top: 45px;
    }
}

@media (max-height:760px) {
    .hero {
        margin-top: 150px;
    }
    .hero .hero_left h2 {
        font-size: 32px;
    }
    .hero .hero_left .btns {
        margin-top: 20px;
    }
    .main-content section:last-child {
        margin-bottom: 30px;
    }
}
@media (max-height:720px) {
    .get_wizer_box h3 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .get_wizer_box .logo_wrapper {
        width: 110px;
        height: 110px;
        margin-bottom: 20px;
    }
    .get_wizer_box .logo_wrapper img {
        width: 75px;
    }
    
    .get_wizer_bg {
        margin-top: 45px;
        height: 88%;
        border-radius: 20px;
        overflow: hidden;
        max-width: 414px;
    }
    .arrow_navigation img {
        width: 15px;
    }
}

@media (max-height:700px) {
    .hero .hero_left h2 {
        font-size: 26px;
    }
    a.square_btn {
        font-size: 17px;
        padding: 10px 35px;
    }
     .hero .hero_left .btns a.round_btn {
        font-size: 17px;
        padding: 10px 22px;
    }
    .side-bar {
        margin-top: 25px;
    }
    .side-bar nav li a {
        padding: 8px 0;
    }
}

@media (max-height:670px) {
    .get_wizer_box {
        padding: 20px 78px 25px;
    }
    .get_wizer_box h3 {
        font-size: 25px;
        margin-bottom: 15px;
    }
    .get_wizer_box .logo_wrapper {
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
    }
    .get_wizer_box p {
        font-size: 19px;
    }
    .get_wizer_box .logo_wrapper img {
        width: 50px;
    }
    .get_wizer_box a.square_btn {
        font-size: 15px;
    }
    .get_wizer_bg {
        margin-top: 35px;
    }
    .arrow_navigation img {
        width: 15px;
    }
}