body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: greycliffcf;
    transition: all 0.2s linear;
}

@font-face {
    src: url('../font/GreycliffCF-Medium.woff') format('woff');
    font-family: greycliffcf;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    src: url('../font/GreycliffCF-DemiBold.woff') format('woff');
    font-family: greycliffcf;
    font-weight: 600;
    font-style: normal;
}
@font-face {
    src: url('../font/GreycliffCF-Bold.woff') format('woff');
    font-family: greycliffcf;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    src: url('../font/GreycliffCF-ExtraBold.woff') format('woff');
    font-family: greycliffcf;
    font-weight: 800;
    font-style: normal;
}



/* 
@font-face {
    font-family: 'greycliffcf';
    src: url('../font/greycliffcf-regularoblique-webfont.woff') format('woff'),
         url('../font/greycliffcf-regularoblique-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

} 
     @font-face {
    src: url(../font/GreycliffCF-Bold.otf);
    font-family: greycliffcf;
    font-weight: bold;
    font-style: normal;
 }
@font-face {
    src: url(../font/GreycliffCF-BoldOblique.otf);
    font-family: greycliffcf;
    font-weight: bold;
    font-style: oblique;
}

@font-face {
    src: url(../font/GreycliffCF-DemiBoldOblique.otf);
    font-family: greycliffcf;
    font-weight: 600;
    font-style: oblique;
}

@font-face {
    src: url(../font/GreycliffCF-ExtraBoldOblique.otf);
    font-family: greycliffcf;
    font-weight: 800;
    font-style: oblique;
}
@font-face {
    src: url(../font/Fontspring-DEMO-greycliffcf-extralight.otf);
    font-family: greycliffcf;
    font-weight: 200;
    font-style: normal;
}
@font-face {
    src: url(../font/Fontspring-DEMO-greycliffcf-extralightoblique.otf);
    font-family: greycliffcf;
    font-weight: 200;
    font-style: oblique;
}
@font-face {
    src: url(../font/GreycliffCF-Heavy.otf);
    font-family: greycliffcf;
    font-weight: 900;
    font-style: normal;
}
@font-face {
    src: url(../font/GreycliffCF-HeavyOblique.otf);
    font-family: greycliffcf;
    font-weight: 900;
    font-style: oblique;
}
@font-face {
    src: url(../font/GreycliffCF-Light.otf);
    font-family: greycliffcf;
    font-weight: 300;
    font-style: normal;
}
@font-face {
    src: url(../font/GreycliffCF-LightOblique.otf);
    font-family: greycliffcf;
    font-weight: 300;
    font-style: oblique;
}
@font-face {
    src: url(../font/GreycliffCF-Medium.otf);
    font-family: greycliffcf;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    src: url(../font/GreycliffCF-MediumOblique.otf);
    font-family: greycliffcf;
    font-weight: 500;
    font-style: oblique;
}
@font-face {
    src: url(../font/GreycliffCF-Regular.otf);
    font-family: greycliffcf;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    src: url(../font/GreycliffCF-RegularOblique.otf);
    font-family: greycliffcf;
    font-weight: 400;
    font-style: oblique;
}   */
 

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1085px !important;
    }
}
a{
    text-decoration: none;
}

nav.navbar.navbar-expand-lg {
    padding: 40px 0 0;
    position: fixed;
    top: 0;
    background: #fff;
    width: 100%;
    z-index: 999999;
}
 .bgshadow {
    box-shadow: 0px 24px 38px #fff;
}


nav a.navbar-brand img {
    max-width: 90px;
}
nav a.navbar-brand {
    padding: 0;
}


nav.navbar.navbar-expand-lg ul.navbar-nav {
    background: #F5F6FA;
    border-radius: 100px;
    padding: 11px 15px;
}

nav.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 16px;
    color: #484D61;
    margin-left: 8px;
    padding: 6px 15px;
    border-radius: 30px;
    transition: all 0.2s linear;
    font-weight: 500;
}
nav.navbar-expand-lg .navbar-nav .nav-link.contact_link {
    color: #F5671F;
    font-weight: 700;

}
nav.navbar-expand-lg .navbar-nav .nav-item:first-child .nav-link {
    margin-left: 0;
}
nav.navbar-expand-lg .navbar-nav .nav-link:hover{
    background: #fff;
}

.hero {
    margin-top: 185px;
    /* padding-top: 50px; */
    position: relative;
    min-height: 775px;
    overflow: hidden;
}

.hero .hero_left {
    position: fixed;
    /* top: 180px; */
    max-width: 464px;
    height: 685px;
}
/* .hero .hero_left {
    position: sticky;
    top: 50px;
    max-width: 465px;
    height: 725px;
} */
.hero .hero_left .top_heading{
    max-width: fit-content;
    position: relative;
}
.hero .hero_left .top_heading h2{ 
    color: #FF8400;
    
}
.hero .hero_left h2{
    font-size: 36px;
    font-weight: 500;
    color: #484D61;
    margin-bottom: 0;
}

.hero .hero_left .top_heading img {
    position: absolute;
    top: -8px;
    right: -21px;
    width: 33px;
}
.hero .hero_left .btns {
    margin-top: 30px;
    display: flex;
    align-items: center;
}
a.square_btn {
    background: #F5671F;
    font-size: 19px;
    font-weight: 700;
    color: #fff;
    padding: 14px 41px;
    border-radius: 12px;
    filter: drop-shadow(0 3px 0 #DA5205);
    box-shadow: 0 1px 0 #FF8400;
    margin-right: 25px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}
a.square_btn span {
    position: relative;
    z-index: 9;
}
a.square_btn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #FF8400;
    border-radius: 50%;
    width: 0;
    height: 0;
    transition: all 0.4s ease-in-out;
}
a.square_btn:hover:before {
    width: 300px;
    height: 300px;
    
}
.hero .hero_left .btns a.round_btn {
    background: #FFF3B4;
    font-size: 19px;
    display: inline-block;
    font-weight: 700;
    color: #FF8400;
    padding: 14px 22px;
    line-height: 20px;
    border-radius: 30px;
    display: flex;
    width: fit-content;
    align-items: center;
}
.hero .hero_left .btns a.round_btn .btn_icon {
    margin: -1px 8px 0 8px;
}

.side-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    margin-top: 60px;
    padding-right: 50px;
}
  
.side-bar  nav ul {
    padding: 0;
  }
  
  .side-bar nav li {
    list-style: none;
  }
  
  .side-bar nav li a {
    text-decoration: none;
    color: #8F95A9;
    display: block;
    padding: 10px 0;
    font-weight: 700;
    font-size: 19px;
    transition: all ease-out 250ms;
  }
  
  .side-bar nav li a:hover {
    color: #8F95A9;
    opacity: 70%;
}
  

.main-content section {
    background-color: #fff;
    height: 100%;
    margin: 0;
    margin-bottom: 280px;
}
.main-content section:last-child {
    margin-bottom: 0px;
}
  
 
/*   
  .main-content section:last-of-type {
    height: auto;
  }
   */
  
  
  .side-bar .active {
    color: #F5671F; 
  }
  .side-bar .active:hover {
    color: #F5671F; 
    opacity: 100%;
  }

  .shape {
    position: absolute;
    bottom: 15px;
    right: 26px;
    z-index: -1;
}
.arrow_down_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    right: -40px;
    z-index: 1;
    width: 48px;
    height: 45px;
    border: 4px solid #FFCD00;
    border-radius: 50%;
}
.arrow_down_btn img {
    width: 15px;
}
.arrow_down_btn[data-direction="up"] img {
    transform: rotate(180deg);
}


/* Section 1 css start */
.meetWizer_inner{
    position: relative;
    margin-top: 25px;
}
.meetWizer_inner .center_img{
    text-align: center;
    /* padding-top: 110px;
    padding-bottom: 50px; */
}
.meetWizer_inner .bottom_img{
    position: absolute;
    bottom: 0;
    left: 0;
    animation: float2 4s linear infinite;
}
.meetWizer_inner .top_img {
    position: absolute;
    top: 0;
    right: 0;
    animation: float1 4s linear infinite;
}
.meetWizer_inner .bottom_img img{
    max-width: 430px;
}
.meetWizer_inner .top_img img{
    max-width: 335px;
}
.meetWizer_inner h3.top_text,.meetWizer_inner h3.bottom_text{
    font-size: 22px;
    font-weight: 700;
    color: #F5671F;
    position: absolute;
    max-width: 130px;
}
.meetWizer_inner h3.top_text{
    top: 65px;
    left: 160px;
}
.meetWizer_inner h3.bottom_text{
    bottom: 50px;
    right: 40px;
}


@keyframes float1 {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
@keyframes float2 {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(20px);
	}
	100% {
		transform: translatey(0px);
	}
}



/* Section 2 css start */
.heading_row{
    position: relative;
    display: flex;
   align-items: center;
    padding-left: 20px;
    margin-bottom: 20px
}
.heading_row img{
    width: 54px;
    margin-right: 7px;
}
.heading_row h2{
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    color: #F5671F;
}
.WhatWeDo_container{
    position: relative;
    z-index: 9;
}
.WhatWeDo_container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF3B4;
    z-index: -1;
    width: 79%;
    height: 93%;
    border-radius: 21px;
    margin-top: 50px;
}
.WhatWeDo_row1 {
    display: flex;
    column-gap: 20px;
}
.WhatWeDo_row1 .WhatWeDo_column1 {
    background: #FFCD00;
    border-radius: 18px;
    padding: 27px;
    padding-bottom: 50px;
    padding-right: 63px;
    display: flex;
    justify-content: space-between;
    transition: all 0.2s linear;
}
.WhatWeDo_row1 .WhatWeDo_column1 .images {
    position: relative;
}
.WhatWeDo_row1 .WhatWeDo_column1 h3{
    color: #DA5205;
    font-size: 24px;
    font-weight: 700;
    width: 50%;
}
.WhatWeDo_row1 .WhatWeDo_column1 .images img {
    width: 100px;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    height: 66px;
    object-fit: cover;
}
.WhatWeDo_row1 .WhatWeDo_column1 img.img2 {
    position: absolute;
    top: 11px;
    left: 18px;
}
.WhatWeDo_row1 .WhatWeDo_column1 img.img3 {
    top: 22px;
    left: 36px;
    position: absolute;
}
.WhatWeDo_row1 .WhatWeDo_column2 {
    padding: 26px 27px;
    background: #FF8400;
    border-radius: 18px;
    text-align: center;
    transition: all 0.2s linear;
}
.WhatWeDo_row1 .WhatWeDo_column2 h2 {
    margin: 0;
    color: #FFE370;
    font-size: 54px;
    font-weight: 700;
    transform: rotateZ(-5deg);
}
.WhatWeDo_row1 .WhatWeDo_column2 h3 {
    margin: 0;
    color: #FFF0B4;
    font-size: 24px;
    font-weight: 700;
}
.WhatWeDo_row2 {
    display: flex;
    column-gap: 20px;
    margin-top: 22px;
}

.WhatWeDo_row2 .WhatWeDo_column1 img{
   max-width: 121px;
}
.WhatWeDo_row2 .WhatWeDo_column2 {
    background-color: #FFCD00;
    border-radius: 18px;
    padding: 0 27px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-image: url("../img/BentoElement_Phishing.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     transition: all 0.2s linear;
}
.WhatWeDo_row2 .WhatWeDo_column2 h3 {
    color: #DA5205;
    font-size: 24px;
    font-weight: 700;
    width: 50%;
    padding: 27px 0;
    margin: 0;
}
.WhatWeDo_row2 .WhatWeDo_column2 img {
    width: 181px;
    margin-top: -10px;
}

.WhatWeDo_row3 {
    display: flex;
    column-gap: 20px;
    margin-top: 22px;
}

.WhatWeDo_row3 .WhatWeDo_column1 {
    background: #FF8400;
    border-radius: 18px;
    padding: 27px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 180px;
    overflow: hidden;
    position: relative;
    min-height: 144px;
    transition: all 0.2s linear;
}
.WhatWeDo_row3 .WhatWeDo_column1 h3 {
    margin: 0;
    color: #FFF0B4;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
   
}
.WhatWeDo_row3 .WhatWeDo_column1 img {
    top: 65px;
    max-width: 150px;
    width: 150px;
    position: absolute;
    right: -3px;
}
.WhatWeDo_row3 .WhatWeDo_column2 {
    background: #FFCD00;
    border-radius: 18px;
    padding: 27px;
    display: flex;
    justify-content: end;
    width: calc(100% - 180px);
    overflow: hidden;
    position: relative;
    transition: all 0.2s linear;
}
.WhatWeDo_row3 .WhatWeDo_column2 h3 {
    color: #DA5205;
    font-size: 24px;
    font-weight: 700;
    width: 45%;
    margin: 0;
    text-align: right;
    
}
.WhatWeDo_row3 .WhatWeDo_column2 img {
    top: 26px;
    max-width: 205px;
    width: 205px;
    position: absolute;
    left: 0;
}

.WhatWeDo_row1 .WhatWeDo_column1:hover,.WhatWeDo_row2 .WhatWeDo_column2:hover,.WhatWeDo_row3 .WhatWeDo_column2:hover  {
    background-color: #FFE370;
}

.WhatWeDo_row1 .WhatWeDo_column2:hover,.WhatWeDo_row3 .WhatWeDo_column1:hover {
    background-color:#FFA800;
}


/* Section 4 css start */
.WhatWeCover_inner{
    display: flex;
    column-gap: 12px;
    position:relative;
    z-index: 9;
}
.WhatWeCover_inner::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFAE5;
    z-index: 2;
    width: 79%;
    height: 93%;
    border-radius: 21px;
    margin-top: 50px;
}
.WhatWeCover_inner .WhatWeCover_column1 {
    width: 50%;
    background: #FFF3B4;
    border-radius: 18px;
    height: 100%;
    position: relative;
    z-index: 2;
}
.WhatWeCover_inner .WhatWeCover_column1::before {
    content: "";
    position: absolute;
    right: -30px;
    top: 15px;
    background: white;
    width: 30px;
    height: 65px;
    z-index: -1;
}
  .WhatWeCover_inner .WhatWeCover_column2 {
    width: 50%;
    background: #FFF3B4;
    border-radius: 18px;
    margin-top: 20px;
    position: relative;
    z-index: 9;
  }
  .WhatWeCover_inner .WhatWeCover_column2::before {
    content: "";
    position: absolute;
    right: -50px;
    top: 5px;
    background: white;
    width: 50px;
    height: 200px;
    z-index: 1;
}
  .WhatWeCover_inner .heading_row img {
    width: 37px;
    margin-right: 7px;
  }
  .WhatWeCover_inner  .heading_row {
    padding: 35px;
    margin: 0;
  }
  .emoji_hand {
    position: absolute;
    width: 105px !important;
    margin: 0 !important;
    right: -36px;
    transform: rotate(18deg);
    top: -45px;
    z-index: -2;
  }
  .emoji_hand.emoji_hand1 {
    transform: rotate(-44deg);
    top: -19px;
    right: -24px;
}
  
  
  .verical-slider, .verical-slider1 {
    margin: 0px auto;
    height: 395px;
    overflow: hidden;
    padding: 0 35px;
}
  .verical-slider ul ,  .verical-slider1 ul{
    list-style:none;
    position:relative;
    margin: 0;
    padding: 0;
  }
  .verical-slider li, .verical-slider1 li{
    height:auto;
     text-align:center;
     margin-bottom:20px;
  }
  .verical-slider span, .verical-slider1 span  {
    font-size: 18px;
    font-weight: 700;
    color: #F5671F;
    padding: 15px 30px;
    display: inline-block;
    text-align: center;
    width: 100%;
    background: #FFCD00;
    border-radius: 9px;
  }
 


/* Section 5 css start */
  .reviews_inner{
    position: relative;
  }
  .reviews_inner {
    position: relative;
    padding-bottom: 130px;
}
.reviews_inner::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFE1FC;
    z-index: 1;
    width: 79%;
    height: 74%;
    border-radius: 21px;
    margin-top: 35px;
}
.reviews_inner .laptop_img {
    position: absolute;
    bottom: 0;
    z-index: 2;
    transform: scale(1.15);
}
  .vertical-slider2{
    width:100%;
    margin:0px auto;
    height:480px;
    overflow:hidden;
    position: relative;
    z-index: 9;
  }
  .vertical-slider2 ul{
    list-style:none;
    position:relative;
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* padding-top:116px; */
  }
   
  .vertical-slider2 li{
    height:auto;
     text-align:center;
    margin-bottom: 0;
    transition: opacity 0.5s ease;
  }
  .vertical-slider2 h2{
    color:#fff;
    padding-top:10px;
    margin-bottom: 0;
  }
  .vertical-slider2 p{
    text-align:left;
    padding:10px;
    color:#eee;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
   }

   .vertical-slider2 .review_box {
    /* margin-bottom: 20px; */
    display: flex;
    padding: 17px 30px 17px 0;
    background: #FFCD00;
    border-radius: 14px;
    margin-left: 18px;
    margin-right: 72px;
}
.vertical-slider2 .review_box.right{
    margin-right: 18px;
    margin-left: 72px;
    flex-direction:row-reverse;
    padding: 17px 0px 17px 30px;
}
  .review_box .review_box_left img{
    width: 75px;
    margin-right: 15px;
    margin-left:-18px;
  }
  .review_box.right .review_box_left img{
    margin-right: -18px;
    margin-left:15px;
  }
  .review_box .review_box_right {
    text-align: start;
  }
  .review_box.right .review_box_right {
    text-align: right;
  }
  .review_box .review_box_right h6{
    font-size: 13px;
    font-weight: 600;
    color: #DA5205;
    margin-bottom: 0;
    line-height: 16px;
  }
  .review_box .review_box_right h4{
    font-size: 21px;
    font-weight: 500;
    color: #DA5205;
    line-height: 29px;
    margin: 10px 0;
  }

  .review_box.box-color-1{
    background: #EC60DE;
  }
  .review_box.box-color-1 h4,.review_box.box-color-1 h6{
    color: #FFE1FC;
  }
  .review_box.box-color-2{
    background: #F5671F;
  }
  .review_box.box-color-2 h4,.review_box.box-color-2 h6{
    color: #FFF0B4;
  }
  .review_box.box-color-3{
    background: #FFE370;
  }
  .review_box.box-color-3 h4,.review_box.box-color-3 h6{
    color: #F5671F;
  }



  /* Section 6 css start */
  .get_wizer_box {
    text-align: center;
    max-width: 350px;
    margin: 0 auto;
    border-radius: 36px;
    background: #fff;
    padding: 25px 50px 40px;
    border-bottom: 7px solid #FFF0B4;
    position: relative;
}
.get_wizer_box:before {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% - 80px);
    bottom: -9px;
    left: 0;
    border-radius: 36px;
    z-index: -1;
    background: #ffffff;
    filter: drop-shadow(2px 7px 25px #DA5205);
}
.get_wizer_box:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -9px;
    left: 0;
    border-radius: 36px;
    z-index: -2;
    background: #ffffff;
    filter: drop-shadow(0px 12px 30px #BBC0D5);
}
  .getwizer_wrapper{
    position: relative;
    z-index: 9;
  }
  .get_wizer_bg {
    position: absolute;
    top: 50%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    width: 100%;
    background-repeat: no-repeat;
    height: 100%;
    margin-top: 90px;
}


  .get_wizer_box h3{
       font-size: 42px;
       font-weight: 700;
       margin-bottom: 25px;
       color: #FF8400;
  }
  .get_wizer_box .logo_wrapper {
    width: 156px;
    height: 156px;
    display: flex;
    border-radius: 50%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background: #FFF0B4;
    margin-bottom: 25px;
}
  .get_wizer_box .logo_wrapper img{
    width: 108px;
}
.get_wizer_box p{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 29px;
    color: #FF8400;
}

.get_wizer_box a.square_btn{
  margin-right: 0;
}
.arrow_navigation{
    text-align: center;
    margin-top: 12px;
}
.arrow_navigation img{
  width: 19px;
}
.main-content section:last-child {
    height: auto;   
}



/* Section 3 css start */
.HowItLooks_wrapper {
    width: 415px;
    height: 465px;
    margin: 0 auto;
    background: #F5F6FA;
    overflow: hidden;
    border-radius: 21px;
    margin-top: 80px;
}
.HowItLooks_wrapper ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative;
    left: 47px;
    row-gap: 15px;
    column-gap: 15px;
    margin-top: 80px;
    flex-wrap: wrap;
    transform: rotate(-14deg) scale(1.3);
}
.HowItLooks_wrapper ul li {
    list-style: none;
    width: calc(50% - 8px);

}


.HowItLooks_wrapper ul li:nth-child(2) {
    animation: zoominmout 5s linear infinite;
    position: relative;
    overflow: hidden;
}
.HowItLooks_wrapper ul li:nth-child(2)::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 220px;
    background: #fff;
    top: -63px;
    left: 0;
    opacity: 48%;
    transform: rotate(27deg);
    animation: righttoleft 5s linear infinite;
}
@keyframes zoominmout {
	0% {
		transform:scale(1);
	}
    85% {
		transform:scale(1);
	}
	90% {
		transform:  scale(0.9);
	}
	95% {
		transform: scale(1.1);
	}
    100% {
		transform: scale(1);
	}
}
@keyframes righttoleft {
        0% {
            transform: translatex(300px) rotate(27deg);
        }
        90% {
            transform: translatex(300px) rotate(27deg);
        }
        
        100% {
            transform: translatex(-300px) rotate(27deg);
        }
       
}
.HowItLooks_wrapper ul li:nth-child(3) {
    margin-left: -35px;
}
.HowItLooks_wrapper ul li:nth-child(5) {
    margin-left: -70px;
}
.HowItLooks_wrapper ul li:nth-child(7) {
    margin-left: -105px;
}
.HowItLooks_wrapper ul li a {
    width: 100%;
    height: 137px;
}
.HowItLooks_wrapper ul li a img{
    width: 100%;
}
.fancybox-container {
    z-index: 9999999 !important;
}
.fancybox-bg{
    background: #000 !important;
    opacity: 70% !important;
}
a.img_poster {
    position: relative;
    display: inline-block;
}
a.img_poster:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 3px);
    background: #fff;
    opacity: 0;
    transition: all 0.2s linear;
}
a.img_poster:hover::before{
    opacity: 30%;
}
.video_play_btn {
    background: url('../img/playbtn1.svg');
    border: 0;
    position: absolute;
    background-size: 33px;
    width: 33px;
    height: 33px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    padding: 0;
}

a.quiz_box {
    align-items: center;
    background: #FFCD00;
    font-size: 59px;
    color: #FFA800;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    text-transform: uppercase;
}
.section-3{
    position: relative;
    width: 415px;
    margin: 0 auto;
}
.section-3::before {
    position: absolute;
    content: "";
    top: -40px;
    left: 110px;
    width: 35px;
    height: 25px;
    background: #F5F6FA;
    border-radius: 4.5px;
    transform: rotate(-15deg);
}
.challenge_box {
    position: absolute;
    top: -25px;
    left: -12px;
    z-index: 9;
}
.challenge_box h3 {
    font-size: 18px;
    font-weight: 700;
    color: #EC60DE;
    background: #FF9CF6;
    padding: 22px 11px;
    border-radius: 7px;
    transform: rotate(-14deg);
    margin: 0;
}

.section-3-inner {
    position: relative;
    z-index: 9;
    overflow-y: clip;
}
.section-3-inner::before,.section-3-inner::after {
    position: absolute;
    content: "";
    top: -10px;
    left: -60px;
    width: 100%;
    height: 140px;
    border: 9px solid #BBC0D5;
    background: transparent;
    z-index: -1;
    border-radius: 98px;
    transform: rotate(-15deg);
}

.section-3-inner::after {
    top: 100px;
    left: inherit;
    right: -60px;
    height: 200px;
}

.fancybox-content {
    max-width: 950px !important;
    height: max-content !important;
}


